:root {
    font-size: .9vw;
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.menu-container {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6em;
    background-color: black;
    position: fixed;
    width: 100%;
}

.menu {
    width: 90%;
    font-size: 4em;
    padding: .5em;
    display: flex;
    justify-content: flex-start;
}

.firm-name {
    text-shadow: 2px 2px #161631;
}

.header-container {
    height: 36em;
    display: flex;
    background-image: url("pics/main-theme.jpg");
    background-position: 0 66%;
}

.main-container {
    display: flex;
    justify-content: center;
    height: 38em;
    background-image: url("pics/trace-of-tires.png");
}

.main {
    display: flex;
    justify-content: center;
    width: 85%;
    flex-direction: column;
}

.rectangles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -20em;
    margin-bottom: 8em;
}

.rectangle {
    width: 18em;
    height: 18em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 2px 10px 15px black;
    font-size: 1.3em;
    color: white;
    font-family: sans-serif;
    border-radius: 40px;
    flex-direction: column;
    background-color: #223A5E;
}

.rectangle > p {
    margin-top: 1em;
    text-align: center;
    padding: 1em 1em 1.5em 1em;
    text-shadow: 2px 2px #161631;
}

.rectangle > i {
    margin-top: 1em;
    text-shadow: 8px 8px #161631;
}

.description {
    font-size: 4em;
    align-self: center;
    font-weight: bold;
    text-shadow: 2px 2px #161631;
}

.contact-container {
    display: flex;
    height: 20em;
    background-color: black;
    color: white;
    align-items: center;
    flex-direction: column;
}

.contact-header {
    text-transform: uppercase;
    margin-top: .5em;
    font-size: 4em;
}

.contact {
    font-size: 3em;
    margin-top: .7em;
}

.contact > ul {
    list-style: none;
}

.map-container {
    height: 37em;
    background-color: black;
    display: flex;
}

.right-tire-map {
    flex: 1;
    background-image: url("pics/tires.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26em 26em;
}

.left-tire-map {
    flex: 1;
    background-image: url("pics/tires-second.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26em 26em;
}

.map-div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -17em;
    margin-right: -17em;
}

.map {
    width: 35em;
    height: 28em;
    border: none;
}

@media all and (max-width: 1366px) {

    .rectangle {
        width: 16em;
        height: 16em;
        font-size: 1.5em;
    }

    .map-div {
        margin-left: -20em;
        margin-right: -20em;
    }

}

@media all and (max-width: 1024px) {

    .menu-container {
        height: 20em;
    }

    .menu {
        justify-content: center;
        font-size: 15em;
    }

    .rectangles {
        flex-wrap: wrap;
        align-items: center;
        margin-top: -55em;
    }

    .rectangle {
        width: 18em;
        height: 16em;
        font-size: 5em;
        margin-top: 1.5em;
        border-radius: 200px;
    }

    .description {
        font-size: 10em;
        margin-top: 1em;
        text-align: center;
    }

    .main-container {
        height: 300em;
    }

    .header-container {
        height: 100em;
        background-size: 300em 200em;
        background-position: 25% 50%;
    }

    .contact-container {
        height: 60em;
    }

    .contact-header {
        font-size: 9em;
    }

    .contact {
        font-size: 8em;
    }

    .map-container {
        height: 90em;
    }

    .map {
        width: 110em;
        height: 88em;
    }

    .map-div {
        flex: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .right-tire-map,
    .left-tire-map {
        display: none;
    }
}



